.indented
        .row
            .col-md-6
                if (gen.image)
                    .smallImage
                        img(src= gen.image.small_url)
                br
            .col-md-6
                h3 #{gen.name}
                if (gen.expected_release_day)
                    b= "Date of Expected Release Date: "
                    = gen.expected_release_day + " " + gen.expected_release_month+ " "+gen.expected_release_year
                else
                    b= "Date of Original Release: "
                    = gen.original_release_date
                br
                b= "Developers: "
                if (gen.developers)
                    each dev in gen.developers
                        = dev.name + ", "
                br
                b= "Publishers: "
                if (gen.publishers)
                    each pub in gen.publishers
                        = pub.name + ", "
                br
                b= "Genres: "
                if (gen.genres)
                    each BLAH in gen.genres
                        = BLAH.name + ", "
                br
                b= "Franchises: "
                if (gen.franchises)
                    each fran in gen.franchises
                        = fran.name + ", "
        .row    
            b= "Description: "
            if (gen.deck)
                |#{gen.deck}
        <marquee>
        each im in gen.images
           if (im.screen_url)
               if(im.tags.substring(0,11) == "Screenshots")
                   img(src= im.screen_url)
        </marquee>
        .row
            h2 Twitter Results
            b= "Trend: "
            = data.sentiment
            br
            b
            br
            if (data.statuses.length > 0)
                each item in data.statuses.slice(0, 5)
                    .indented
                        .row
                            .col-md-6    
                                if (item.user)
                                    b= "User Name: "
                                    = item.user.screen_name
                                br
                                if (item.created_at)    
                                    b= "Created At:  "
                                    = item.created_at
                                br
                                if (item.text)    
                                    b= "Tweet: "
                                    = item.text
                                br
            else
                | There are no current tweets about the game
